body {
	
	background-color: white;
	font-family: 'Raleway', sans-serif;

}
.right-align {
	margin-top: -50px;
	text-align: right;
}

 .waves-effect.waves-yellow .waves-ripple {
	background-color: #e5b14e !important;
}
.waves-yellow:hover, .waves-yellow:focus {
	color: #418fde;
}

.projects-text {
 	/*left: -1%
 	top: 45%;*/
    transform: rotate(-90deg);
    margin-top: 50vh;
    left: 2%;
    position: fixed;

    
}
.about-text {
	left: 3%;
	transform: rotate(-90deg);
	margin-top: 30vh;	
	position: fixed;


}
.skills-text {
	transform: rotate(-90deg);
	right: 3%;
	margin-top: 30vh;	
	position: fixed;

}
.contact-text {
	transform: rotate(-90deg);
	right: 2%;
	margin-top: 50vh;
	position: fixed;
}
.rotated {
	transform: rotate(0deg);
	background-color: #e5b14e !important;
}
.container {
	margin: 0 auto;
}
h3 {
	text-align: right;
	background-image: linear-gradient(transparent 110px, #e5b14e 0px);
	font-family: 'Oxygen', sans-serif;
	padding: 50px 0px 5px 0px;
}

h3::first-letter {
	font-weight: bold;
	font-size: 70px;
}
#v {
	font-weight: bold;
	font-size: 50px;
}
span::first-letter {
	font-size: 60px;
}
.typewriter {
	display: block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1s steps(10, end),
    blink-caret .75s step-end infinite;
}
#tagline {
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;

}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
#hustle {
	font-weight: bold;
	background-color: #e5b14e;
}
h2 {
	font-size: 50px
}

#pink {
	font-weight: bold;
	color: pink;

}
.btn-flat {
	font-size: 18px;
}
.fab {
	display: inline-block;
	padding: 5px;
	text-align: center;
}
a {
	color: #e5b14e;
}
.modal1 {
	background-image: url("../images/project2.png")

}
