.homepage-div {
	background-color: pink;
	height: 70vh;
	width: 100vw;
}

.icons-row {
	background-color: blue;
}

.icons a{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 40px; /*space between*/
    margin-top: 5px;

} 
.icons a i{
    padding: 9px 10px;
    display: inline-block;
}

.fixed-arrow{
	
   /*z-index: -1;*/
       /*background: #f00;*/
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 34px;
    margin-top: 7px;
}





.arrow-div {
	margin-right: 50px;
	text-align: right;
	float: right;
	display: inline-block;
}
i.medium {
    font-size: 3.5rem;
}
	.line-arrow {
		margin-top: 5px;
		text-align: right;
		border-bottom: 2px solid #000; 
	   line-height: 0.01em;
	   padding-top: 30px;
	   width: 120%;
	}
/*#title {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: auto;
   z-index: -1;
   margin-top: 210px;
} 

#title>span { 
    background:yellow; 
    padding:0 10px; 
}*/